@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
}
:root{
    --COLOR-GRAY:#333333;
    --COLOR-GRAY-DARK:#222222 ;
    --COLOR-GRAY-LIGHT:#CCCCCC ;
    --COLOR-ONGOING:#98c1d9 ;
    --COLOR-DONE:#ee6c4d;
}
body{
    margin:0;
    color:white;
}